<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/pages/usuarios">Usuarios</button>
    <br>
    <button mat-button routerLink="/pages/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/pages/negocios">Negocio</button>
    <br>
    <button mat-button routerLink="/pages/compras">Compras</button>
    <br>
    <button mat-button routerLink="/pages/destinos">Destinos</button>
    <br>
    <button mat-button routerLink="/pages/comentariosproducto">ComentariosProductos</button>
    <br>
    <button mat-button routerLink="/pages/etiqueta">Etiqueta</button>
    <br>
    <button mat-button routerLink="/pages/etiquetaProducto">EtiquetaProducto</button>
    <br>
   <button mat-button routerLink="/pages/comentario_negocio">ComentariosNegocios</button>
   <br>
   <button mat-button routerLink="/pages/productos">Productos</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="warn" (click)="sidenav.open()"><span class="material-icons">menu</span></button></p>
        <div class="container">
          <div style="text-align: center">
            <h1>Comentarios de Negocios</h1>
          </div>

          <div style="text-align: right;">
            <button mat-raised-button color="warn" [routerLink]="['registrarus']"><span
                class="material-icons">add</span></button>
          </div>

          <mat-form-field appearance="outline">
            <input matInput (keyup)="filter($event)" placeholder="Buscar">
          </mat-form-field>

          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
          </mat-paginator>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="idComentarioNegocio">
              <th mat-header-cell *matHeaderCellDef>id</th>
              <td mat-cell *matCellDef="let element">{{ element.idComentarioNegocio }}</td>
            </ng-container>

            <ng-container matColumnDef="comentario">
              <th mat-header-cell *matHeaderCellDef>comentario</th>
              <td mat-cell *matCellDef="let element">{{ element.comentario }}</td>
            </ng-container>

            <ng-container matColumnDef="calificacion">
              <th mat-header-cell *matHeaderCellDef>calificacion</th>
              <td mat-cell *matCellDef="let element">{{ element.calificacion }}</td>
            </ng-container>

            <ng-container matColumnDef="idNegocio">
              <th mat-header-cell *matHeaderCellDef>idNegocio</th>
              <td mat-cell *matCellDef="let element">{{ element.negocio.nameNegocio }}
              </td>
            </ng-container>

            <ng-container matColumnDef="idCliente">
              <th mat-header-cell *matHeaderCellDef>idCliente</th>
              <td mat-cell *matCellDef="let element">{{ element.cliente.nameCliente }}
              </td>
            </ng-container>


            <ng-container matColumnDef="accion01">
              <th mat-header-cell *matHeaderCellDef>Modificar</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" [routerLink]="['edicion',element.idComentarioNegocio]"><span
                    class="material-icons">settings</span></button>
              </td>
            </ng-container>
            <ng-container matColumnDef="accion02">
              <th mat-header-cell *matHeaderCellDef>Eliminar</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" (click)="confirm(element.idComentarioNegocio)"><span
                    class="material-icons">delete</span></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

