<div class="container">
  <div style="text-align: center;">

    <h1>Registro de usuarios</h1>
  </div>

  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>ID</mat-label>
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" formControlName="emailUsuario">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="contrasenia" formControlName="contraseniaUsuario">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="telefono" formControlName="telefonoUsuario">
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary"><span class="material-icons">save</span></button>
    <button mat-raised-button color="warn" routerLink="/usuarios"><span class="material-icons">delete</span></button>
    <p>{{mensaje}}</p>

  </form>
</div>