<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/pages/usuarios" *ngIf="role == 'ADMIN'">Usuarios</button>
    <br>
    <button mat-button routerLink="/pages/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/pages/negocios">Negocio</button>
    <br>
    <button mat-button routerLink="/pages/compras">Compras</button>
    <br>
    <button mat-button routerLink="/pages/destinos">Destinos</button>
    <br>
    <button mat-button routerLink="/pages/comentariosproducto">ComentariosProductos</button>
    <br>
    <button mat-button routerLink="/pages/etiqueta" *ngIf="role == 'ADMIN'">Etiqueta</button>
    <br>
    <button mat-button routerLink="/pages/etiquetaProducto" *ngIf="role == 'ADMIN'">EtiquetaProducto</button>
    <br>
   <button mat-button routerLink="/pages/comentario_negocio">ComentariosNegocios</button>
   <br>
   <button mat-button routerLink="/pages/productos">Productos</button>
   <br>
   <button mat-button routerLink="/pages/reportes" *ngIf="role == 'ADMIN'">Reporte1</button>
   <br>
   <button mat-button routerLink="/pages/reportes2" *ngIf="role == 'ADMIN'">Reporte2</button>
   <br>
   <button mat-button routerLink="/pages/reportes3" *ngIf="role == 'ADMIN'">Reporte3</button>
   <br>
   <button mat-button routerLink="/pages/reportes4" *ngIf="role == 'ADMIN'">Reporte4</button>
   <br>
   <button mat-button routerLink="/pages/reportes/reporte5" *ngIf="role == 'ADMIN'">Reporte5</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="warn" (click)="sidenav.open()"><span class="material-icons">menu</span></button></p>
    <div class="container">
      <div style="text-align: center;">

        <h1>Registro de Destinos</h1>
      </div>
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>Código:</mat-label>
          <input matInput required placeholder="Código" formControlName="id">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Destinos:</mat-label>
          <input matInput required placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Ubicacion:</mat-label>
          <textarea matInput required=" ubicacion... " formControlName="ubicacion"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Descripcion:</mat-label>
          <textarea matInput required=" Descripcion... " formControlName="descripcion"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Imagen:</mat-label>
          <textarea matInput required=" Imagen... " formControlName="imagen"></textarea>
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">
          <mat-label>Distrito:</mat-label>
          <mat-select required formControlName="distrito">
            <mat-option value="opcion1">Opción 1</mat-option>
            <mat-option value="opcion2">Opción 2</mat-option>
            <mat-option value="opcion3">Opción 3</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Departamento:</mat-label>
          <mat-select required formControlName="distrito">
            <mat-option value="opcion1">Opción 1</mat-option>
            <mat-option value="opcion2">Opción 2</mat-option>
            <mat-option value="opcion3">Opción 3</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <div style="text-align: center;">

          <button mat-raised-button color="accent"><span class="material-icons">save</span></button>
          <button mat-raised-button color="warn" routerLink="/pages/destinos"><span
              class="material-icons">delete</span></button>
          <br>
        </div>

        <p>{{mensaje}}</p>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
