<div class="container">
  <div style="text-align: center;">

    <h1>Registro de Destinos</h1>
  </div>
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>Código:</mat-label>
      <input matInput required placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Destinos:</mat-label>
      <input matInput required placeholder="Nombre" formControlName="nombreDestino">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Historia:</mat-label>
      <textarea matInput required=" Historia ... " formControlName="historia"></textarea>

    </mat-form-field>

    <br>
    <div style="text-align: center;">

    <button mat-raised-button color="primary"><span class="material-icons">save</span></button>
    <button mat-raised-button color="warn" routerLink="/clientes"><span class="material-icons">delete</span></button>
    <br>
    </div>

    <p>{{mensaje}}</p>
  </form>
</div>