<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/pages/usuarios">Usuarios</button>
    <br>
    <button mat-button routerLink="/pages/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/pages/negocios">Negocio</button>
    <br>
    <button mat-button routerLink="/pages/compras">Compras</button>
    <br>
    <button mat-button routerLink="/pages/destinos">Destinos</button>
    <br>
    <button mat-button routerLink="/pages/comentariosproducto">ComentariosProductos</button>
    <br>
    <button mat-button routerLink="/pages/etiqueta">Etiqueta</button>
    <br>
    <button mat-button routerLink="/pages/etiquetaProducto">EtiquetaProducto</button>
    <br>
   <button mat-button routerLink="/pages/comentario_negocio">ComentariosNegocios</button>
   <br>
   <button mat-button routerLink="/pages/productos">Productos</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="warn" (click)="sidenav.open()"><span class="material-icons">menu</span></button></p>
    <div class="container">
      <div style="text-align: center">
        <h1>Registrar Negocios</h1>
      </div>
 
        <form [formGroup]="form" (submit)="aceptar()">

          <mat-form-field class="example-full-width">
            <mat-label>Código de Negocio</mat-label>
            <input matInput placeholder="Código" formControlName="id" />
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Nombre del Negocio</mat-label>
            <input matInput placeholder="Nombre" formControlName="nameNegocio" />
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Dirección del Negocio</mat-label>
            <input matInput placeholder="Dirección" formControlName="direccionNegocio" />
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Negocio</mat-label>
            <input matInput placeholder="Tipo" formControlName="TipoNegocio" />
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill">
            <mat-label>IDUsuario</mat-label>
            <mat-select formControlName="IDusuario" [(value)]="idUsuarioSeleccionado" required>
              <mat-option *ngFor="let a of lista" [value]="a.id">
                {{a.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Calificacion</mat-label>
            <mat-select required formControlName="distrito">
              <mat-option value="opcion1">1</mat-option>
              <mat-option value="opcion2">2</mat-option>
              <mat-option value="opcion3">3</mat-option>
              <mat-option value="opcion4">4</mat-option>
              <mat-option value="opcion5">5</mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <div style="text-align: center">
            <button mat-raised-button color="accent"><span class="material-icons">save</span></button>
            <button mat-raised-button color="warn" routerLink="/pages/negocios"><span
                class="material-icons">delete</span></button>
            <br>
          </div>

          <p>{{mensaje}}</p>

        </form>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>