<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/usuarios">Usuarios</button>
    <br>
    <button mat-button routerLink="/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/negocios">Negocio</button>
    <br>
    <button mat-button routerLink="/compras">Compras</button>
    <br>
    <button mat-button routerLink="/destinos">Destinos</button>
    <br>
    <button mat-button routerLink="/comentariosproducto">ComentariosProductos</button>
    <br>
    <button mat-button routerLink="/etiqueta">Etiqueta</button>
    <br>
    <button mat-button routerLink="/etiquetaProducto">EtiquetaProducto</button>
    <br>
   <button mat-button routerLink="/comentariosnegocios">ComentariosNegocios</button>
   <br>
   <button mat-button routerLink="/productos">Productos</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="warn" (click)="sidenav.open()"><span class="material-icons">menu</span></button></p>
    <div class="container">
      <div style="text-align: center">
        <h1>Registrar Comentarios de Productos</h1>
      </div>

        <form [formGroup]="form" (submit)="aceptar()">

          <mat-form-field class="example-full-width">
            <mat-label>Comentario</mat-label>
            <input matInput placeholder="comentario" formControlName="comentario" />
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <mat-label>Calificacion</mat-label>
            <input matInput placeholder="Dirección" formControlName="calificacion" />
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill">
            <mat-label>id Producto</mat-label>
            <mat-select formControlName="producto" [(value)]="idProductoSeleccionado" required>
              <mat-option *ngFor="let a of lista1" [value]="a.idProducto">
                {{a.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          
          <mat-form-field appearance="fill">
            <mat-label>id Cliente</mat-label>
            <mat-select formControlName="cliente" [(value)]="idClienteSeleccionado" required>
              <mat-option *ngFor="let a of lista2" [value]="a.id">
                {{a.nameCliente}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <div style="text-align: center">
            <button mat-raised-button color="accent"><span class="material-icons">save</span></button>
            <button mat-raised-button color="warn" routerLink="/comentariosproducto"><span
                class="material-icons">delete</span></button>
            <br>
          </div>

          <p>{{mensaje}}</p>

        </form>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
