<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/pages/usuarios" *ngIf="role == 'ADMIN'">Usuarios</button>
    <br>
    <button mat-button routerLink="/pages/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/pages/negocios">Negocio</button>
    <br>
    <button mat-button routerLink="/pages/compras">Compras</button>
    <br>
    <button mat-button routerLink="/pages/destinos">Destinos</button>
    <br>
    <button mat-button routerLink="/pages/comentariosproducto">ComentariosProductos</button>
    <br>
    <button mat-button routerLink="/pages/etiqueta" *ngIf="role == 'ADMIN'">Etiqueta</button>
    <br>
    <button mat-button routerLink="/pages/etiquetaProducto" *ngIf="role == 'ADMIN'">EtiquetaProducto</button>
    <br>
   <button mat-button routerLink="/pages/comentario_negocio">ComentariosNegocios</button>
   <br>
   <button mat-button routerLink="/pages/productos">Productos</button>
   <br>
   <button mat-button routerLink="/pages/reportes" *ngIf="role == 'ADMIN'">Reporte1</button>
   <br>
   <button mat-button routerLink="/pages/reportes2" *ngIf="role == 'ADMIN'">Reporte2</button>
   <br>
   <button mat-button routerLink="/pages/reportes3" *ngIf="role == 'ADMIN'">Reporte3</button>
   <br>
   <button mat-button routerLink="/pages/reportes4" *ngIf="role == 'ADMIN'">Reporte4</button>
   <br>
   <button mat-button routerLink="/pages/reportes/reporte5" *ngIf="role == 'ADMIN'">Reporte5</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="warn" (click)="sidenav.open()"><span class="material-icons">menu</span></button></p>
    <div class="container">
      <div style="text-align: center;">

        <h1>Registro de Productos</h1>
      </div>
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>idproducto:</mat-label>
          <input matInput required placeholder="idproducto" formControlName="idproducto">
        </mat-form-field>
        <br>

        <br>
        <mat-form-field class="example-full-width">
          <mat-label>nombre:</mat-label>
          <textarea matInput required="nombre" formControlName="nombre"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Descripcion:</mat-label>
          <textarea matInput required="descripcion" formControlName="descripcion"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>precio:</mat-label>
          <textarea matInput required="precio" formControlName="precio"></textarea>
        </mat-form-field>
        <br>


        <mat-form-field class="example-full-width">
          <mat-label>visible:</mat-label>
          <textarea matInput required=" visible " formControlName="visible"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>calificacion:</mat-label>
          <mat-select required formControlName="distrito">
            <mat-option value="opcion1">1</mat-option>
            <mat-option value="opcion2">2</mat-option>
            <mat-option value="opcion3">3</mat-option>
            <mat-option value="opcion4">4</mat-option>
            <mat-option value="opcion5">5</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>idNegocio:</mat-label>
          <textarea matInput required="idnegocio" formControlName="idnegocio"></textarea>
        </mat-form-field>
        <br>

          <mat-form-field class="example-full-width">
          <mat-label>cantidad:</mat-label>
          <textarea matInput required="cantidad" formControlName="cantidad"></textarea>
        </mat-form-field>
        <br>


        <div style="text-align: center;">

          <button mat-raised-button color="accent"><span class="material-icons">save</span></button>
          <button mat-raised-button color="warn" routerLink="/pages/productos"><span
              class="material-icons">delete</span></button>
          <br>
        </div>

        <p>{{mensaje}}</p>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
