<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/clientes/usuario">Usuarios</button>
    <br>
    <button mat-button routerLink="/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/clientes/negocio">Negocio</button>
    <br>
    <button mat-button routerLink="/clientes/compras">Compras</button>
    <br>
    <button mat-button routerLink="/clientes/destino">Destinos</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Menu</button></p>
  </mat-sidenav-content>
</mat-sidenav-container>