<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Cerrar</button></p>
    <button mat-button routerLink="/pages/usuarios" *ngIf="role == 'ADMIN'">Usuarios</button>
    <br>
    <button mat-button routerLink="/pages/clientes">Clientes</button>
    <br>
    <button mat-button routerLink="/pages/negocios">Negocio</button>
    <br>
    <button mat-button routerLink="/pages/compras">Compras</button>
    <br>
    <button mat-button routerLink="/pages/destinos">Destinos</button>
    <br>
    <button mat-button routerLink="/pages/comentariosproducto">ComentariosProductos</button>
    <br>
    <button mat-button routerLink="/pages/etiqueta" *ngIf="role == 'ADMIN'">Etiqueta</button>
    <br>
    <button mat-button routerLink="/pages/etiquetaProducto" *ngIf="role == 'ADMIN'">EtiquetaProducto</button>
    <br>
   <button mat-button routerLink="/pages/comentario_negocio">ComentariosNegocios</button>
   <br>
   <button mat-button routerLink="/pages/productos">Productos</button>
   <br>
   <button mat-button routerLink="/pages/reportes" *ngIf="role == 'ADMIN'">Reporte1</button>
   <br>
   <button mat-button routerLink="/pages/reportes2" *ngIf="role == 'ADMIN'">Reporte2</button>
   <br>
   <button mat-button routerLink="/pages/reportes3" *ngIf="role == 'ADMIN'">Reporte3</button>
   <br>
   <button mat-button routerLink="/pages/reportes4" *ngIf="role == 'ADMIN'">Reporte4</button>
   <br>
   <button mat-button routerLink="/pages/reportes/reporte5" *ngIf="role == 'ADMIN'">Reporte5</button>
   <br>
   <button mat-button routerLink="/pages/reportes/reporte6" *ngIf="role == 'ADMIN'">Reporte6</button>
   <br>
   <button mat-button routerLink="/pages/reportes/reporte7" *ngIf="role == 'ADMIN'">Reporte7</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="warn" (click)="sidenav.open()"><span class="material-icons">menu</span></button></p>
    <div class="container">
      <div style="text-align: center;">
        <h1>Registro de compras</h1>
      </div>

      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>Codigo</mat-label>
          <input matInput required placeholder="Codigo" formControlName="idCompra">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Cantidad</mat-label>
          <input matInput required placeholder="Cantidad" formControlName="cantidadCompra">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Precio_Total</mat-label>
          <input matInput required placeholder="Precio_Total" formControlName="precioCompra">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <input matInput required placeholder="Descripcion" formControlName="descripcionCompra">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Fecha_Compra</mat-label>
          <input matInput required [matDatepicker]="picker" formControlName="fechaCompra" [max]="fecha_max">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>id Cliente</mat-label>
          <mat-select formControlName="clienteCompra" [(value)]="idClienteSeleccionado" required>
            <mat-option *ngFor="let a of lista2" [value]="a.id">
              {{a.nameCliente}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        
        <mat-form-field appearance="fill">
          <mat-label>id Producto</mat-label>
          <mat-select formControlName="productoCompra" [(value)]="idProductoSeleccionado" required>
            <mat-option *ngFor="let a of lista1" [value]="a.idProducto">
              {{a.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <button mat-raised-button color="accent"><span class="material-icons">save</span></button>
        <button mat-raised-button color="warn" routerLink="/pages/compras"><span class="material-icons">delete</span></button>

        <p>{{mensaje}}</p>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>